led output
/target
/src/main/frontend-resources
/src/main/generated-www
dependency-reduced-pom.xml

# IDEs
/.idea
# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/
*.ipr
*.iml

# misc
*.log

#System Files
.DS_Store
Thumbs.db
*.bak
*.swp

# Jni stuff
/maquettes

